
.sort-btns {
  display: inline-block;
  cursor: pointer;
}
.del-loc-btn, .add-loc-btn {
  display: inline-block;
  width: 120px;
}

.locations-list, .delete-container {
  width: 60%;
  margin: 0 auto;
}

.location-error {
  color: red;
  padding-bottom: 5px;
}

.cat-list {
  padding-right: 5px;
}


